{% extends "/base.html" %}


{% block "css" %}
{#
<style>

    .notes
    {
        margin-top:20px;
        /*background-color:#fff;*/
    }

    .notes .note
    {
        margin-top:20px;
    }

    .notes-list
    {
        height:200px;
        position:relative;
        z-index:10;
        overflow:auto;
    }

    .notes-list table
    {
        margin:0px;
        padding:0px;
    }

    .notes input.search
    {

    }

    .notes-list table tr td
    {
        border:0;
    }

    .notes .note .title
    {

    }

</style>
#}
{% endblock %}


{% block "body" %}
<input type="hidden" name="notes_api" value="{% url 'api' %}" />
<div class="row">

    <div class="col-lg-12">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'front' %}">
                    <i class="fa fa-lock"></i>
                    Notes <span class="text-warning">beta</span>
                </a>
              </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if .urlname=='new_book' %} class="active"{% endif %}><a title="create a new encrypted notebook" href="{% url 'new_book' %}">New</a></li>
                    <form action="{% url 'go' %}" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input name="book" type="text" class="form-control" placeholder="notebook" value="${book.slug}"/>
                        </div>
                        <button type="submit" class="btn btn-default">Go</button>
                    </form>
                    {#
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    #}
                </ul>
            </div>
        </nav>

        {% block "content" %}
        {% render sections.content %}
        {% endblock %}

    </div>

</div>

{% endblock %}

