<moya xmlns="http://moyaproject.com">

    <!-- Initialize a server -->
    <server docname="main">

        <log>Starting up!</log>

        <!-- Import libraries for use in your project -->
        <import py="moya.libs.debug" if=".debug"/>
        <import py="moya.libs.auth"/>
        <import py="moya.libs.admin"/>
        <import py="moya.libs.static"/>
        <import py="moya.libs.favicon"/>
        <import py="moya.libs.bootstrap"/>
        <import py="moya.libs.forms"/>
        <import py="moya.libs.widgets"/>
        <import py="moya.libs.jsonrpc"/>
        <import py="moya.libs.wysihtml5"/>

        <!-- The 'site' library, for non reusable content -->
        <import location="./site" priority="10"/>
        <install name="site" lib="site.notes" mount="/"/>

        <!-- Install applications (instances of a library) -->
        <install name="forms" lib="moya.forms"/>
        <install name="widgets" lib="moya.widgets"/>
        <install name="auth" lib="moya.auth" mount="/auth/"/>
        <mount app="auth" mountpoint="middleware" url="/"/>
        <install name="admin" lib="moya.admin" mount="/admin/"/>
        <install name="media" lib="moya.static" mount="/static/"/>
        <install name="debug" lib="moya.debug" mount="/debug/" if=".debug"/>
        <install name="bootstrap" lib="moya.twitter.bootstrap"/>
        <install name="favicon" lib="moya.favicon" mount="/"/>
        <install name="jsonrpc" lib="moya.jsonrpc"/>
        <install name="wysihtml5" lib="moya.wysihtml5"/>

        <!--Added by 'moya start library'-->
        <import location="../willmcgugan.notes"/>
        <install name="notes" lib="willmcgugan.notes" mount="/"/>

</server>

</moya>