{% extends "base.html" %}

{% block "content" %}

<a href="https://github.com/moyaproject/notes"><img style="float:right;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<h1>Encrypted Notes <small>${.apps.notes.lib.version}</small></h1>
<hr>
<p class="lead">
    Create <em>encrypted notebooks</em>&hellip;
</p>

<p>
    Notes are encrypted <em>in the browser</em> with a passphrase and can't be read without knowing that passphrase.

    Your notes will be safe from prying eyes, even if the database is compromised.
</p>

<p class="text-warning">
    If you forget your passphrase, your notes will be unrecoverable!
</p>

<p>
    <a href="{% url 'new_book' %}" class="btn btn-primary">Create Encrypted Notebook</a>
</p>

<p>
    <a class="text-muted" href="http://www.moyaproject.com">Built with Moya</a>
</p>
{% endblock %}
